@import "../partials/flex";
@import "../partials/grid";

$navbar-inline-padding: 30px;

.main-content {
  position: relative;
  width: 100vw;
  height: max-content;

  .Daatoa,
  .Raketaka {
    position: relative;
    width: 100vw;
    height: max-content;

    .portfolio {
      position: relative;
      width: 100%;
      height: 100vh;
      color: black;
      @include grid(100%, 1fr max-content);

      .content {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #00000055;
        color: white;
        padding: 50px $navbar-inline-padding;

        .title {
          font-family: "Panchang", sans-serif;
          font-size: 3vw;
          margin-bottom: 15px;
        }

        .text {
          font-family: "Panchang", sans-serif;
          font-size: 2.5vw;
        }
      }
    }

    .skills {
      position: relative;
      width: 100%;
      height: max-content;

      h1 {
        position: relative;
        width: 100%;
        height: max-content;
        padding: 30px $navbar-inline-padding;
        font-family: "Panchang", sans-serif;
        font-size: 3vw;
      }

      .container {
        position: relative;
        width: 100%;
        height: max-content;
        padding: 30px $navbar-inline-padding;
        @include grid(repeat(2, 50%), auto);
        column-gap: 20px;

        @media screen and (max-width: 1024px) {
          display: block;
        }

        div {
          position: relative;
          width: 100%;
          height: max-content;

          @media screen and (max-width: 1024px) {
            margin-block: 20px;
          }

          h2 {
            position: relative;
            font-family: "Panchang", sans-serif;
            background: linear-gradient(to right, var(--red), var(--blue));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          .list {
            position: relative;
            width: 100%;
            margin-block: 20px;
            @include grid(repeat(auto-fill, 150px), auto);
            column-gap: 20px;
            row-gap: 10px;

            .list-item {
              @include flex(row, center, center);
              background-color: black;
              color: white;
              font-family: "Alpino", sans-serif;
              font-size: 16px;
              padding: 10px 0;
              border-radius: 5px;
            }
          }
        }
      }
    }

    .experiences {
      position: relative;
      width: 100%;
      height: max-content;
      background-color: black;
      color: white;

      h1 {
        position: relative;
        width: 100%;
        height: max-content;
        text-align: right;
        padding: 30px $navbar-inline-padding;
        font-family: "Panchang", sans-serif;
        font-size: 3vw;
      }

      .container {
        position: relative;
        width: 100%;
        height: max-content;
        padding: 30px $navbar-inline-padding;
        @include grid(repeat(2, 50%), auto);
        column-gap: 20px;
        row-gap: 15px;

        @media screen and (max-width: 1024px) {
          display: block;
        }

        .experience {
          position: relative;
          width: 100%;
          height: max-content;
          padding-inline: $navbar-inline-padding;
          padding-block: 20px;

          .title {
            font-size: 26px;
            text-align: right;

            .date {
              font-family: "Alpino", sans-serif;
            }

            .text {
              font-family: "Panchang", sans-serif;
              background: linear-gradient(to left, var(--red), var(--blue));
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }

          .description {
            font-size: 22px;
            font-family: "Alpino", sans-serif;
            text-align: right;
          }
        }
      }
    }
  }

  .Daatoa {
    .portfolio {
      background-image: url("/daatoa.jpg");
      background-position: center;
      background-size: cover;

      .content {
        .title {
          text-align: right;
        }

        .text {
          text-align: right;
        }
      }
    }
  }

  .Raketaka {
    .portfolio {
      background-image: url("/raketaka.jpg");
      background-position: center;
      background-size: cover;

      .content {
        .title {
          text-align: left;
        }

        .text {
          text-align: left;
        }
      }
    }
  }
}