@mixin fade-in($from, $to) {
    from { opacity: 0; transform: $from; }
    to { opacity: 1; transform: $to; }
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fade-zoom-in { @include fade-in(scale(0), scale(1)) }

@keyframes fade-in-up { @include fade-in(translateY(100px), translateY(0%)) }
@keyframes fade-in-bottom { @include fade-in(translateY(-100px), translateY(0%)) }
@keyframes fade-in-left { @include fade-in(translateX(100px), translateX(0%)) }
@keyframes fade-in-right { @include fade-in(translateX(-100px), translateX(0%)) }

@keyframes up {
    from { transform: translateY(100%); }
    to { transform: translateY(0%); }
}

@keyframes left {
    from { transform: translateX(100%); }
    to { transform: translateX(0%); }
}

@keyframes right {
    from { transform: translateX(-100%); }
    to { transform: translateX(0%); }
}


.fade { opacity: 1; animation: fade; } 
.fade-zoom-in { opacity: 1; animation: fade-zoom-in; }

.fade-in-up { opacity: 1; animation: fade-in-up; }
.fade-in-up-reverse { opacity: 0; animation: fade-in-up reverse; }
.fade-in-bottom { opacity: 1; animation: fade-in-bottom; }
.fade-in-bottom-reverse { opacity: 0; animation: fade-in-bottom reverse; }
.fade-in-right { opacity: 1; animation: fade-in-right; }
.fade-in-right-reverse { opacity: 0; animation: fade-in-right reverse; }
.fade-in-left { opacity: 1; animation: fade-in-left; }
.fade-in-left-reverse { opacity: 0; animation: fade-in-left reverse; }

.scroll-anim {
    overflow: hidden;
    height: min-content;
}