:root {
  --red: #f43148;
  --blue: #3b45d8;
}

@font-face {
  font-family: "Panchang";
  src: url("/src/assets/fonts/Panchang-Variable.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Alpino";
  src: url("/src/assets/fonts/Alpino-Variable.ttf");
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar { display: none; }

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}