@import "./assets/scss/partials/reset";

/* Components */
@import "./assets/scss/components/loader";
@import "./assets/scss/components/navbar";
@import "./assets/scss/components/banner";
@import "./assets/scss/components/custom-cursor";
@import "./assets/scss/components/main-content";

.banner h1 {
    overflow: hidden;
    // background-color: red;
    width: auto;
}

.swiper {
    max-width: 200vw;
    overflow: hidden;
}

.swiper-slide {
    padding: 40px;
}

.skills { background-color: white; }